.blogpost {
    /*height: calc(~"100vh - 55px");*/
    /*  height: -o-calc(100vh - 55px);  opera */
    height: -webkit-calc(100vh - 55px); /* google, safari */
    height: -moz-calc(100vh - 55px); /* firefox */
    height: 600px;

    flex-direction: column;
    display: flex;

   /* background: url( attr(data-image) ) no-repeat;  /* НЕ РАБОТАЕТ */
    background-size: 100% 100%;
}

.blogpost-image {
    max-width: 100%;
    max-height: 100%;
    position: relative;
    overflow: hidden;
}

.blogpost-body {
    margin-top: auto;
}

.blogpost-footer {
    margin-top: auto;

    background: -webkit-linear-gradient(
            top,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 0.9) 0%
    );
}

.blogpost-block {
    margin-bottom: 100px;
}

article {
    color: black;
}