@import url("http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

.panel-image img.panel-image-preview {
    width: 100%;
    border-radius: 4px 4px 0px 0px;
}

.panel-heading ~ .panel-image img.panel-image-preview {
    border-radius: 0px;
}

.panel-image ~ .panel-body, .panel-image.hide-panel-body ~ .panel-body {
    overflow: hidden;
}

.panel-image ~ .panel-footer a {
    padding: 0px 10px;
    font-size: 1.3em;
    color: rgb(100, 100, 100);
}

.panel-image.hide-panel-body ~ .panel-body {
    height: 0px;
    padding: 0px;
}

.post-title {
    display: inline-block;
    max-width: 430px;
}

.post-block {
    margin-bottom: 100px;
}

.details-image {
    width: 100%;
    height: 100%;
}

.panel-heading a {
    text-decoration: none;
}

.detail-comment-block {
    height: 500px;
    /*height:100px;*/
}

.width-auto {
    width: auto;
}

/*.col-md-4-fixed {*/
    /*position: fixed;*/
    /*min-height: 1px;*/
    /*padding-right: 15px;*/
    /*padding-left: 15px;*/
    /*!*float: left;*!*/
    /*width: 33.33333333%;*/
/*}*/