{% extends "blogpost/feedbase.html" %}


{% block feedcontent %}
    <!-- content -->

    {% if user.is_authenticated %}
    <!-- new blog -->
    <div class="row">
        <div class="col-md-2" style="position: fixed; margin-top: 10px; padding-right: 65px; padding-left: 20px">
            <div class="center-block">
                <button onclick="location.href='{% url 'blogpost:addblog' %}';" type="button" class="btn btn-success pull-right"><i
                        class="glyphicon glyphicon-plus"></i> New blog
                </button>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="container">

        {% for object in object_list %}
            {% include "blogpost/bloglist.html" with blog=object %}
        {% endfor %}

    </div> <!-- /container -->

    <script type="text/javascript">
        function searchFind() {
            $('#search-find').toggle();
            $('#sort-find').toggle();
        }

        // for mobiles set small nav size
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
            $('.second-group-panel').attr("data-width", "125px")
            $('.search-panel').width(199);
            $('.post-title').css("max-width", "180px");
            $('#brand').html("Pb ");
            $('#comments-panel-1').toggle();
        }
    </script>

{% endblock %}