<!-- BlogPost -->
{% load static %}
{% load cache %}

{% cache 15 "blog" blog.id %}
<div class="row blogpost-block">
    <div class="col-md-1">
    </div>
    <div class=" col-md-10">
        <div class="panel panel-default blogpost" id="blog-{{ blog.id }}"
                {% if blog.image %}
             style="background: url('{{ blog.image.url }}') no-repeat; background-size: 100% 100%;">
{#                                      data-image="{{ blog.image.url }}">  {#  это не работает, url(attr(..)) - не поддерживается #}
                {% else %}
                    {% static 'default_images/no_post_image.jpg' as  default_post_image %}
                    style="background: url('{{ default_post_image }}') no-repeat; background-size: 100% 100%;">
{#                                       data-image="{% static 'default_images/no_post_image.jpg' %}">#}
                {% endif %}
        <div class="panel-body blogpost-footer">
            <div class="col-md-6">
                <div class="">
                    <div class="horiz-centred">
                        <img class="dp img-circle ava-med"
                                {% if blog.author.avatar %}
                             src="{{ blog.author.avatar.url }}"
                                {% else %}
                                    {% static 'default_images/no_avatar.png' as  default_avatar %}
                             src="{{ default_avatar }}"
                                {% endif %}
                        >
                        <h4 class="media-heading">
                            {{ blog.author.first_name }} {{ blog.author.last_name }}
                        </h4>
                    </div>
                    <hr style="margin:8px auto">
                    {% for cat in blog.categories.all %}
                        <span class="label {{ cat.color }}">{{ cat.name }}</span>
                    {% endfor %}
                </div>
                <p class="post-counter">Постов в блоге: {{ blog.post_count }}</p>
                <p class="post-counter">Комментариев: {{ blog.comment_count }}</p>
                <p class="post-counter">Рейтинг: {{ blog.rate }}</p>

            </div>
            <article>
                <h4>
                    <a href="{% url 'blogpost:blogid' blog_id=blog.id %}">{{ blog.title }}</a>

{% endcache %}
                    <!-- Edit blog -->
                    {% if blog.author_id == user.id %}
                        <button type="button"
                                class="btn btn-succes load-editor"
                                title="Edit blog"
                                data-id="blog-{{ blog.id }}"
                                data-url="{% url 'blogpost:editblog' pk=blog.id %}"
                                data-toggle="modal" data-target="#modal-editor">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </button>
                    {% endif %}
                </h4>
                <p>{{ blog.text|truncatechars:150 }}</p>
            </article>

        </div>
        </div>
    </div>
</div>
<!-- BlogPost end -->