{% extends "blogpost/feedbase.html" %}

{% load static %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'blogpost/editor.js' %}"></script>
{% endblock %}


{% block feedcontent %}
    <!-- content -->


    <div class="container">

        {% for object in object_list %}
                    {% include "blogpost/blogitem.html" with blog=object %}
        {% endfor %}

        <!-- Modal -->
        <div id="modal-editor" class="modal  fade">
            <div id="editor-content" class="modal-dialog modal-lg"></div>
        </div>
    </div>

    </div> <!-- /container -->

    {#    <script type="text/javascript">#}
    {#        function searchFind() {#}
    {#            $('#search-find').toggle();#}
    {#            $('#sort-find').toggle();#}
    {#        }#}
    {#    </script>#}

{% endblock %}