{% extends "core/base.html" %}


{% load widget_tweaks %}
{% load static %}

{% block extra_js %}
    {{ block.super }}
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link href="{% static 'blogpost/feedbase.css' %}" rel="stylesheet">
    <link href="{% static 'blogpost/post.css' %}" rel="stylesheet">
    <link href="{% static 'blogpost/blogpost.css' %}" rel="stylesheet">
    <link href="{% static 'blogpost/author.css' %}" rel="stylesheet">
    <link href="{% static 'chat/chat.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav ">
                <li class="dropdown">
                    <!-- user block -->
                    {% if user.is_anonymous %}
                        <a class="pull-left mobile-hide" href="{% url 'blogpost:mainpage' %}"> Photoblog</a>
                        <a class="mobile-hide" href="{% url 'core:login' %}" style="float:left">Log in</a>
                        <div id="brand" class="dropdown-toggle menu anon-menu mobile-show" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false" hidden>
                            Ph
                            <span class="caret"></span>
                        </div>
                        <!-- anon menu block -->
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'blogpost:mainpage' %}"> Photoblog</a></li>
                            <li><a href="{% url 'core:register' %}">Register</a></li>
                            <li><a href="{% url 'core:login' %}">Log in</a></li>
                        </ul>


                    {% else %}
                        <div id="brand" class="dropdown-toggle menu" data-toggle="dropdown" role="button"
                             aria-haspopup="true" aria-expanded="false">
                            <img class="img-circle ava-small"
                                    {% if user.avatar %}
                                 src="{{ user.avatar.url }}"
                                    {% else %}
                                 src="{{ default_avatar }}"
                                    {% endif %}
                            >
                            <span class="mobile-hide">{{ user.username }}</span>
                            <span class="mobile-hide caret"></span>
                        </div>

                        <!-- user menu block -->
                        <ul class="dropdown-menu">
                            <li><a href="{% url "blogpost:blogs" %}">Blogs</a></li>
                            <li><a href="#newblog" class="load-editor"
                                   data-url="{% url "blogpost:addblog" %}"
                                   data-toggle="modal"
                                   data-target="#modal-editor">New blog</a>
                            </li>
                            <li><a href="#newblog" class="load-editor"
                                   data-url="{% url "blogpost:addpost" %}"
                                   data-toggle="modal"
                                   data-target="#modal-editor">New post</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="{% url 'core:logout' %}">Log out</a></li>
                        </ul>
                    {% endif %}
                </li>

                <li class="navbar-btn btn-toolbar sort-and-search">
                    <!-- Find and sort form -->
                    <form method="get">
                        <div class="btn-group " role="group" aria-label="...">
                            <div class="input-group sort-input">
                                {% render_field sort_form.sort|set_data:"width:70px" class+="selectpicker " %}
                            </div>
                            <div class="input-group search-input">
                                {% render_field sort_form.search class+="form-control search-panel " %}
                            </div>
                            <span class="input-group-btn pull-left">
                                        <button type="submit" class="btn btn-default">
                                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                        </button>
                                    </span>
                        </div>
                    </form>
                </li>
            </ul>
        </div>
    </nav>

    {% block feedcontent %}{% endblock %}


{% endblock %}