<!-- Post -->
<div class="row post-block">
    <div class="col-md-1">
        <!-- just for formatting -->
    </div>

    <div class="col-xs-12 col-md-6">
        <div class="panel panel-default" id="post-{{ post.id }}">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="{% url "blogpost:postid" post.id %}"> <span class="post-title">{{ post.title }}</span></a>
                    <span style="float: right;">
                      <a href="#rateup"><span class="glyphicon glyphicon-chevron-up"></span></a>
                      0
                      <a href="#ratedown"><span class="glyphicon glyphicon-chevron-down"></span></a>
                    </span>
                </h3>
            </div>
            <!-- <div id="post-body-1"> -->
            <div class="panel-image">
                {% if post.image  %}
                <img src="{{ post.image.url }}" class="panel-image-preview"/>
                {% else %}
                 <img src="{{ default_post_image }}" class="panel-image-preview"/>
                {% endif %}
            </div>
            <div class="panel-body">
                <h4>{{ post.description_title }}</h4>
                <p>{{ post.text|truncatechars:200 }}</p>
            </div>
            <!-- </div> -->
            <div class="panel-footer text-center">
                <a href="#fave"><span class="glyphicon glyphicon-star-empty"></span></a>
                <a href="javascript:void(0)" onclick='toggleChat({{ post.id }})'><span
                        class="glyphicon glyphicon-comment"></span></a>
                <!-- Edit post, if autor -->
                {% if post.author == user %}
                <a href="{% url 'blogpost:editpost' pk=post.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                {% endif %}
                <!-- /Edit blog -->
                <a href="{% url "blogpost:postid" post.id %}"><span class="glyphicon glyphicon-new-window"></span></a>
            </div>
        </div>
    </div>


    <!-- Comment block -->
    <div class="col-md-4">
        {% include "comments/comment_block.html" with visibility_style='display:none;' %}
    </div>

</div>
