{% extends "blogpost/feedbase.html" %}

{% load static %}

{% block feedcontent %}

    <div class="container">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>

        <span class="chat-img ">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="details-image"/>
            {% else %}
                {% static 'default_images/no_post_image.jpg' as  default_post_image %}
                <img src="{{ default_post_image }}" class="details-image"/>
            {% endif %}
        </span>

        <!-- Comment block -->
        <div class="detail-comment-block">
            {% include "comments/comment_block.html" %}
        </div>
    </div>

    <script>
        // hide search in editor
        $('.sort-and-search').hide()
    </script>

{% endblock %}