{% extends "blogpost/feedbase.html" %}


{% block feedcontent %}

    <div class="container">
        <h2>{{ post.title }}</h2>
        <p>{{ post.text }}</p>

        <span class="chat-img ">
            {% if post.image %}
                <img src="{{ post.image.url }}" style="width:100%; height:100%;"/>
            {% else %}
                <img src="{{ default_post_image }}" style="width:100%; height:100%;"/>
            {% endif %}
        </span>

        <!-- Comment block -->
        <div style="height:500px">
             {% include "comments/comment_block.html" %}
        </div>
    </div>

{% endblock %}