{% extends "blogpost/feedbase.html" %}

{%  load static %}

{% block extra_js %}
        {{ block.super }}
    <script src="{% static 'blogpost/editor.js' %}"></script>
    <script src="{% static 'blogpost/postitem.js' %}"></script>
{% endblock %}

{% block extra_css %}
        {{ block.super }}
    <link href="{% static 'comments/comments.css' %}" rel="stylesheet">
{% endblock %}


{% block feedcontent %}
    <!-- content -->

    <div class="container">
        <!-- posts here -->

        {% for object in object_list %}
            {% include "blogpost/postitem.html" with post=object %}
        {% empty %}
            <h1 align="center">Sorry, no posts</h1>
        {% endfor %}

        <!-- Modal -->
        <div id="modal-editor" class="modal  fade">
            <div id="editor-content" class="modal-dialog modal-lg"></div>
        </div>

    </div> <!-- /container -->
{% endblock %}
